.container{
  min-height: 100vh;
  background-color: #eee;
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

.button-container{
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}

.search-container{
  margin-bottom: 30px;
}

.search-container h1{
  margin-bottom: 30px;
}