.post{
    background-color: white;
    box-shadow:  0 0 10px #000;
    transition: transform 100ms ease-in-out;
  }
  
  .post:hover{
    transform: scale(1.05);
  }
  
  .post img{
    max-width: 100%;
  }
  
  .post-content{
    padding: 30px;
  }